.ps-room .battle-controls {
  top: 420px !important;
}

.battle {
  padding-top: 50px;
}

.background {
  position: absolute;
  top: -80px;
}

:root {
  --btnH: 35px;
  --whiteWidthSize: 220;
  --whiteHeightSize: 55;
  --wV_val: calc(var(--whiteWidthSize) * 1px);
  --wH_val: calc(var(--whiteHeightSize) * 1px);
  /*Colors of types*/
  --Bug: rgb(173, 185, 68);
  --Dark: rgb(61, 61, 61);
  --Dragon: rgb(116, 105, 230);
  --Electric: rgb(247, 205, 85);
  --Fairy: rgb(243, 175, 250);
  --Fighting: rgb(164, 86, 71);
  --Fire: rgb(235, 83, 53);
  --Flying: rgb(119, 152, 252);
  --Ghost: rgb(102, 103, 181);
  --Grass: rgb(123, 201, 47);
  --Ground: rgb(203, 178, 90);
  --Ice: rgb(156, 220, 254);
  --Normal: rgb(173, 171, 144);
  --Poison: rgb(159, 91, 150);
  --Psychic: rgb(230, 100, 152);
  --Rock: rgb(184, 170, 111);
  --Steel: rgb(166, 168, 196);
  --Water: rgb(76, 155, 240);
  /*type icon images*/
  --type_icon_Bug: url(https://archives.bulbagarden.net/media/upload/7/7f/Bug_icon_PE.png?20220824195141);
  --type_icon_Dark: url(https://archives.bulbagarden.net/media/upload/d/d3/Dark_icon_PE.png);
  --type_icon_Dragon: url(https://archives.bulbagarden.net/media/upload/a/ac/Dragon_icon_PE.png);
  --type_icon_Electric: url(https://archives.bulbagarden.net/media/upload/3/32/Electric_icon_PE.png);
  --type_icon_Fairy: url(https://archives.bulbagarden.net/media/upload/0/01/Fairy_icon_PE.png);
  --type_icon_Fighting: url(https://archives.bulbagarden.net/media/upload/0/09/Fighting_icon_PE.png);
  --type_icon_Fire: url(https://archives.bulbagarden.net/media/upload/3/39/Fire_icon_PE.png);
  --type_icon_Flying: url(https://archives.bulbagarden.net/media/upload/d/d8/Flying_icon_PE.png);
  --type_icon_Ghost: url(https://archives.bulbagarden.net/media/upload/9/9a/Ghost_icon_PE.png);
  --type_icon_Grass: url(https://archives.bulbagarden.net/media/upload/5/56/Grass_icon_PE.png);
  --type_icon_Ground: url(https://archives.bulbagarden.net/media/upload/c/c6/Ground_icon_PE.png);
  --type_icon_Ice: url(https://archives.bulbagarden.net/media/upload/1/14/Ice_icon_PE.png?20220824195443);
  --type_icon_Normal: url(https://archives.bulbagarden.net/media/upload/9/90/Normal_icon_PE.png);
  --type_icon_Poison: url(https://archives.bulbagarden.net/media/upload/7/72/Poison_icon_PE.png);
  --type_icon_Psychic: url(https://archives.bulbagarden.net/media/upload/9/90/Psychic_icon_PE.png);
  --type_icon_Rock: url(https://archives.bulbagarden.net/media/upload/f/f3/Rock_icon_PE.png);
  --type_icon_Steel: url(https://archives.bulbagarden.net/media/upload/5/54/Steel_icon_PE.png);
  --type_icon_Water: url(https://archives.bulbagarden.net/media/upload/e/e0/Water_icon_PE.png);
  --type_icon_Stellar: url(https://archives.bulbagarden.net/media/upload/thumb/9/9f/Stellar_icon.png/120px-Stellar_icon.png);
  /* type name with icon images */
  --type_name_Bug: url(https://archives.bulbagarden.net/media/upload/thumb/b/bd/BugIC.png/120px-BugIC.png);
  --type_name_Dark: url(https://archives.bulbagarden.net/media/upload/thumb/e/e3/DarkIC.png/120px-DarkIC.png);
  --type_name_Dragon: url(https://archives.bulbagarden.net/media/upload/thumb/c/c3/DragonIC.png/120px-DragonIC.png);
  --type_name_Electric: url(https://archives.bulbagarden.net/media/upload/thumb/e/ea/ElectricIC.png/120px-ElectricIC.png);
  --type_name_Fairy: url(https://archives.bulbagarden.net/media/upload/thumb/3/31/FairyIC.png/120px-FairyIC.png);
  --type_name_Fighting: url(https://archives.bulbagarden.net/media/upload/thumb/9/9b/FightingIC.png/120px-FightingIC.png);
  --type_name_Fire: url(https://archives.bulbagarden.net/media/upload/thumb/9/9f/FireIC.png/120px-FireIC.png);
  --type_name_Flying: url(https://archives.bulbagarden.net/media/upload/thumb/d/dc/FlyingIC.png/120px-FlyingIC.png);
  --type_name_Ghost: url(https://archives.bulbagarden.net/media/upload/thumb/c/c3/GhostIC.png/120px-GhostIC.png);
  --type_name_Grass: url(https://archives.bulbagarden.net/media/upload/thumb/a/a5/GrassIC.png/120px-GrassIC.png);
  --type_name_Ground: url(https://archives.bulbagarden.net/media/upload/thumb/8/87/GroundIC.png/120px-GroundIC.png);
  --type_name_Ice: url(https://archives.bulbagarden.net/media/upload/thumb/8/86/IceIC.png/120px-IceIC.png);
  --type_name_Normal: url(https://archives.bulbagarden.net/media/upload/thumb/0/0f/NormalIC.png/120px-NormalIC.png);
  --type_name_Poison: url(https://archives.bulbagarden.net/media/upload/thumb/8/86/PoisonIC.png/120px-PoisonIC.png);
  --type_name_Psychic: url(https://archives.bulbagarden.net/media/upload/thumb/f/f8/PsychicIC.png/120px-PsychicIC.png);
  --type_name_Rock: url(https://archives.bulbagarden.net/media/upload/thumb/e/e6/RockIC.png/120px-RockIC.png);
  --type_name_Steel: url(https://archives.bulbagarden.net/media/upload/thumb/7/7e/SteelIC.png/120px-SteelIC.png);
  --type_name_Water: url(https://archives.bulbagarden.net/media/upload/thumb/b/b0/WaterIC.png/120px-WaterIC.png);
  --type_name_Stellar: url(https://archives.bulbagarden.net/media/upload/thumb/c/c0/StellarIC_SV.png/120px-StellarIC_SV.png);
}

@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.trainer strong {
  display: block;
  font-size: 8pt;
  margin-bottom: 2px;
  word-wrap: break-word;
  color: #fff;
  text-shadow: -1px -1px #000, 0 -1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000, 0 1px #000,
    -1px 1px #000, -1px 0 #000;
}

.trainersprite {
  display: none;
  visibility: hidden;
}

.trainer-near,
.trainer-far {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px;
}

/* Player pokemon icons */

.trainer-near strong {
  /*grid-row: 1/2;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;*/
  display: none;
}

.leftbar .trainer-near {
  position: absolute !important;
  top: 330px;
}

/* Remove semi-white laterla bands*/

.leftbar,
.rightbar {
  background-color: transparent;
  border: none !important;
}

/*Enemy trainer pokemon icons */

.rightbar.trainer-far {
  bottom: 0px !important;
}

.rightbar .trainer {
  position: absolute !important;
  right: 0px !important;
}

.rightbar .trainer-far {
  position: absolute !important;
  top: -50px !important;
  left: -200px;
}

.trainer-far strong {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}

.statbar.rstatbar {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding-top: 8px;
}

.statbar.rstatbar strong {
  margin: 0 2px 0 10px;
}

.statbar.rstatbar .hpbar {
  margin-left: 10px;
}

.statbar.lstatbar {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding-top: 10px;
  margin-top: 30px;
}

.statbar.lstatbar,
.statbar.rstatbar {
  /* White background with cutted right edge */
  padding-right: 0;
  width: var(--wV_val);
  height: var(--wH_val);
  background-color: white;
}

div [aria-label="Active Pokemon"] {
  position: absolute !important;
  top: -50px;
  display: grid !important;
  grid-template-columns: repeat(3, 193px) !important;
  grid-template-rows: 100px 224px 100px !important;
  column-gap: 20px;
}

.rstatbar.rightstatbar,
.rstatbar.leftstatbar,
.lstatbar.rightstatbar,
.lstatbar.leftstatbar {
  position: relative !important;
  inset: 0px 0px 0px 0px !important;
  align-self: start;
}

/* Player left pokemon */

.rstatbar.leftstatbar {
  grid-column: 1/2 !important;
  grid-row: 3/4 !important;
  clip-path: polygon(0px 0px, 0px 75px, 180px 75px, 210px 0px) !important;
}

/* Player rightpokemon*/

.rstatbar.rightstatbar {
  grid-column: 2/3 !important;
  grid-row: 3/4 !important;
  clip-path: polygon(30px 0px, 0px 75px, 180px 75px, 220px 0px) !important;
}

.rstatbar.rightstatbar strong,
.rstatbar.rightstatbar .hpbar {
  margin-left: 25px !important;
}

/* Enemy right pokemon (displayed on your left)*/

.lstatbar.rightstatbar {
  grid-column: 2/3 !important;
  grid-row: 1/2 !important;
  clip-path: polygon(30px 0px, 0px 75px, 180px 75px, 220px 0px) !important;
}

/* Enemy left pokemon (displayed on your right)*/

.lstatbar.leftstatbar {
  grid-column: 3/4 !important;
  grid-row: 1/2 !important;
  clip-path: polygon(30px 0px, 0px 75px, 220px 75px, 250px 0px) !important;
}

.lstatbar.rightstatbar strong,
.lstatbar.rightstatbar .hpbar,
.lstatbar.leftstatbar strong,
.lstatbar.leftstatbar .hpbar {
  margin-left: 25px !important;
}

.lstatbar.leftstatbar strong,
.lstatbar.rightstatbar strong {
  margin-top: -5px !important;
}

.statbar strong {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
  color: black;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: start;
  /* text-shadow: -1px -1px #000, 0 -1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000, 0 1px #000, -1px 1px #000, -1px 0 #000; */
}

.statbar strong small {
  color: black;
  font-weight: 300;
  margin-right: auto;
}

.statbar strong small:nth-child(1) {
  margin-left: auto;
}

.statbar img {
  margin-left: 5px;
  margin-right: auto;
}

.statbar img[alt~="M"] {
  content: url("https://i.imgur.com/qZTiMw3.png");
  width: 13px;
  height: 13px;
  margin-right: 50px;
}

.statbar img[alt~="F"] {
  content: url(https://i.imgur.com/aAyWAi2.png);
  width: 13px;
  height: 13px;
}

.statbar .hpbar {
  position: absolute;
  border: 1px solid lightgrey;
  border-width: 1px 1px 1px 1px;
  padding: 0px !important;
  height: 10px;
  border-radius: 0px !important;
  /* border-radius: 8px 3px 10px 8px !important; */
  /* transform-style: preserve-3d;
  transform-origin: left;
  transform: perspective( 380px ) rotateY( -48deg ) translateX(-3px); */
}

.statbar .hpbar .hptext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  color: black;
  text-align: center;
  top: 13px;
  left: 0px;
  font-size: 15px;
  background: none;
  text-shadow: none !important;
  /* text-shadow: -1px -1px #000, 0 -1px #000, 1px -1px #000, 1px 0 #000, 1px 1px #000, 0 1px #000, -1px 1px #000, -1px 0 #000; */
}

.statbar .hpbar .hptextborder {
  display: none !important;
}

.statbar .hpbar .hp {
  height: 9px;
  border-top: 1px solid rgba(0, 255, 8, 1);
  background: linear-gradient(90deg, rgba(163, 255, 26, 1) 0%, rgba(0, 255, 8, 1) 100%);
  border-bottom: 1px solid rgba(0, 255, 8, 1);
  border-right: 1px solid rgba(0, 255, 8, 1);
  /* border-radius: 8px 3px 10px 8px !important; */
}

.statbar .hpbar .hp {
  border-radius: 0px !important;
}

.statbar .hpbar .hp-yellow {
  border-top-color: rgba(254, 170, 50, 1);
  background: linear-gradient(90deg, rgba(255, 250, 31, 1) 0%, rgba(254, 170, 50, 1) 100%);
  border-bottom-color: rgba(254, 170, 50, 1);
  border-right-color: rgba(254, 170, 50, 1);
}

.statbar .hpbar .hp-red {
  border-top-color: #dc1509;
  background: #dc1509;
  border-bottom-color: #dc1509;
  border-right-color: #dc1509;
}

.statbar .hpbar .prevhp {
  background: #3a3a3a;
  height: 11px;
  border-radius: 0 !important;
}

.statbar .hpbar .prevhp-yellow {
  background-color: #3a3a3a;
}

.statbar .hpbar .prevhp-red {
  background-color: #3a3a3a;
}

.statbar .status {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 10px;
  font-size: 8pt;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  width: 135px;
  transform: rotateY(48deg) translate(57px, 3px) scale(0.8);
}

.statbar span {
  color: #fff !important;
  border-radius: 0;
}

.statbar span.bad,
.statbar span.good {
  margin: -1px 1px;
}

.statbar span.bad {
  border-color: #4c0603;
  background: #a61000;
  text-shadow: -1px -1px #4c0603, 0 -1px #4c0603, 1px -1px #4c0603, 1px 0 #4c0603, 1px 1px #4c0603,
    0 1px #4c0603, -1px 1px #4c0603, -1px 0 #4c0603;
}

.statbar span.good {
  background: #00a636;
  border-color: #034c16;
  text-shadow: -1px -1px #034c16, 0 -1px #034c16, 1px -1px #034c16, 1px 0 #034c16, 1px 1px #034c16,
    0 1px #034c16, -1px 1px #034c16, -1px 0 #034c16;
}

@keyframes statusBlink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

.statbar span.par,
.statbar span.frz,
.statbar span.brn,
.statbar span.psn,
.statbar span.slp {
  opacity: 1;
  animation: statusBlink 3s infinite;
  animation-delay: 2s;
  position: absolute;
  right: 13px;
  top: -36px;
  height: 15px;
  background: none;
  color: transparent;
}

.statbar span.par {
  content: url(https://i.imgur.com/377GRJI.png);
}

.statbar span.frz {
  content: url(https://i.imgur.com/cInxMZi.png);
}

.statbar span.brn {
  content: url(https://i.imgur.com/jXOVtFy.png);
}

.statbar span.psn {
  content: url(https://i.imgur.com/E4TZOib.png);
}

.statbar span.slp {
  content: url(https://i.imgur.com/9tny9FO.png);
}

/*******************/

/* Battle Messages */

/*******************/

/*****************
* Battle Weather *
*****************/

.turn {
  position: absolute !important;
  left: -5px !important;
  border: none;
  border-radius: 0;
  background: transparent;
  color: white;
  top: -22px;
  text-shadow: black 1px 1px;
  opacity: 1 !important;
  /* Thanks to marcorulloz7 - sadboy github.com/marcoz7 */
}

.weather {
  top: -70px !important;
  background-size: 120%;
}

/***********/

/* Weather */

/***********/

.sunweather,
.sunnydayweather,
.desolatelandweather {
  background: url(https://pkmn.pro/resources/sun-v4-3.gif) no-repeat scroll left top;
  color: #664411;
  text-shadow: #ffffff 1px 1px 0, #ffffff 1px -1px 0, #ffffff -1px 1px 0, #ffffff -1px -1px 0;
  background-size: cover;
}

.rainweather,
.raindanceweather,
.primordialseaweather {
  background: url(https://pkmn.pro/resources/rain-v4-2.gif) scroll left top;
  background-size: cover;
  color: #0044bb;
  text-shadow: #ffffff 1px 1px 0, #ffffff 1px -1px 0, #ffffff -1px 1px 0, #ffffff -1px -1px 0;
  opacity: 0.8 !important;
}

.sandstormweather {
  background: url(https://pkmn.pro/resources/sand-v4.gif) scroll left top;
  background-size: cover;
  color: #554433;
  text-shadow: #ffffff 1px 1px 0, #ffffff 1px -1px 0, #ffffff -1px 1px 0, #ffffff -1px -1px 0;
  opacity: 0.6 !important;
}

.snowweather,
.hailweather {
  background: url(https://pkmn.pro/resources/hail-v4_5.gif) scroll left top;
  background-size: cover;
  color: #114455;
  text-shadow: #ffffff 1px 1px 0, #ffffff 1px -1px 0, #ffffff -1px 1px 0, #ffffff -1px -1px 0;
  opacity: 0.6 !important;
}

.weather.electricterrainweather {
  background: url(https://pkmn.pro/resources/terrain-electric2.png) scroll left top;
  background-size: cover;
  opacity: 0.6 !important;
}

.weather.mistyterrainweather {
  background: url(https://pkmn.pro/resources/terrain-mist4.png) scroll left top;
  background-size: cover;
  opacity: 0.6 !important;
}

.weather.grassyterrainweather {
  background: url(https://pkmn.pro/resources/terrain-grassy.png) scroll left top;
  background-size: cover;
  opacity: 0.6 !important;
}

.weather.psychicterrainweather {
  background: url(https://pkmn.pro/resources/terrain-psychic.png) scroll left top;
  background-size: cover;
  opacity: 0.6 !important;
}

.pseudoweather {
  background: url(http://play.pokemonshowdown.com/fx/weather-trickroom.png) scroll left top;
  background-size: cover;
  opacity: 0.6 !important;
}

.weather em {
  position: absolute !important;
  inset: 50px 0px 0px 15px !important;
  margin: 0;
  color: white !important;
  font-weight: 500;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  opacity: 1 !important;
}

/**********************
* Battle Weather ~end *
**********************/

.innerbattle > .rightbar + div {
  animation: none !important;
}

/********************
* In-Game Shadows *
********************/

img[src^="https://play.pokemonshowdown.com/sprites/ani"]
{
  /* -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.5) 18px 37px 19px);
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 18px 37px 19px);
  transform: scale3d(1, 1, 1.00001); */
  padding-bottom: 10px;
  background-image: radial-gradient(
    closest-side at 50% 90%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 90%
  );
}

/******************
* In-Game Shadows ~end *
******************/

/********************
* Move Button Types *
********************/

.timerbutton {
  z-index: 100;
  position: relative;
}

.movemenu {
  position: absolute !important;
  left: 67.5%;
  top: -370%;
  display: grid !important;
  padding-bottom: 10px;
}

.megaevo {
  background: black;
  border: none;
  width: 100px;
  height: 100px;
  position: absolute !important;
  top: -70px;
  left: 150px;
  display: grid !important;
  clip-path: path(
    "M 3 18 L 18 21 L 24 15 L 27 0 L 30 15 L 36 21 L 51 18 L 39 27 L 39 36 L 51 45 L 36 42 L 30 48 L 27 60 L 24 48 L 18 42 L 3 45 L 15 36 L 15 27 Z M 27 21 L 21 27 L 21 36 L 27 42 L 33 36 L 33 27 z"
  );
  /* Hide the text of the movetype */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* variable mytype defined later on button move colors*/

.megaevo input {
  accent-color: var(--myType);
}

.megaevo input {
  scale: 40;
  width: 100px;
  margin-left: -400px;
  margin-top: 18px;
}

.movemenu button {
  border-radius: 50px !important;
  border: 3px solid black !important;
  box-shadow: none;
  height: 35px !important;
  width: 200px !important;
  display: grid !important;
  grid-template-areas: "typelogo name pp";
  grid-template-columns: auto max(107px) 45px;
}

.movemenu button[disabled~="disabled"] {
  border: 3px solid black !important;
}

.movemenu button small.type {
  grid-area: typelogo;
  width: 27px !important;
  height: 26px !important;
  border-radius: 50px;
  position: relative;
  top: -6px;
  left: 0px;
  /* Hide the text of the movetype */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.movemenu button small.pp {
  grid-area: pp;
  background: black;
  color: white;
  position: relative !important;
  top: -8px;
  left: 6px;
  border-radius: 0 80px 140px 0;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  /*Should be fixed. When other moves are disabled and pp<10 graphics is odd*/
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
  clip-path: path("M 15 0 L 38 0 A 5 5 0 0 1 38 32 L 0 32 z");
}

.switchselect,
.moveselect {
  display: none !important;
}

/**************/

/* MOVE TYPES */

/**************/

.movemenu button.type-Ice {
  background: var(--Ice) !important;
}

.movemenu button.type-Ice small.type {
  background: var(--Ice) var(--type_icon_Ice) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Ice"]) {
  --myType: var(--Ice);
}

.movemenu button.type-Grass {
  background: var(--Grass) !important;
}

.movemenu button.type-Grass small.type {
  background: var(--Grass) var(--type_icon_Grass) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Grass"]) {
  --myType: var(--Grass);
}

.movemenu button.type-Fighting {
  background: var(--Fighting) !important;
  color: white !important;
  text-shadow: none;
}

.movemenu button.type-Fighting small.type {
  background: var(--Fighting) var(--type_icon_Fighting) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Fighting"]) {
  --myType: var(--Fighting);
}

.movemenu button.type-Ground {
  background: var(--Ground) !important;
}

.movemenu button.type-Ground small.type {
  background: var(--Ground) var(--type_icon_Ground) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Ground"]) {
  --myType: var(--Ground);
}

.movemenu button.type-Dark {
  background: rgb(61, 61, 61) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Dark small.type {
  background: var(--Dark) var(--type_icon_Dark) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Dark"]) {
  --myType: var(--Dark);
}

.movemenu button.type-Flying {
  background: var(--Flying) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Flying small.type {
  background: var(--Flying) var(--type_icon_Flying) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Flying"]) {
  --myType: var(--Flying);
}

.movemenu button.type-Electric {
  background: var(--Electric) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Electric small.type {
  background: var(--Electric) var(--type_icon_Electric) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Electric"]) {
  --myType: var(--Electric);
}

.movemenu button.type-Water {
  background: var(--Water) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Water small.type {
  background: var(--Water) var(--type_icon_Water) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Water"]) {
  --myType: var(--Water);
}

.movemenu button.type-Normal {
  background: var(--Normal) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Normal small.type {
  background: var(--Normal) var(--type_icon_Normal) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Normal"]) {
  --myType: var(--Normal);
}

.movemenu button.type-Psychic {
  background: var(--Psychic) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Psychic small.type {
  background: var(--Psychic) var(--type_icon_Psychic) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Psychic"]) {
  --myType: var(--Psychic);
}

.movemenu button.type-Steel {
  background: var(--Steel) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Steel small.type {
  background: var(--Steel) var(--type_icon_Steel) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Steel"]) {
  --myType: var(--Steel);
}

.movemenu button.type-Poison {
  background: var(--Poison) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Poison small.type {
  background: var(--Poison) var(--type_icon_Poison) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Poison"]) {
  --myType: var(--Poison);
}

.movemenu button.type-Rock {
  background: var(--Rock) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Rock small.type {
  background: var(--Rock) var(--type_icon_Rock) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Rock"]) {
  --myType: var(--Rock);
}

.movemenu button.type-Bug {
  background: var(--Bug) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Bug small.type {
  background: var(--Bug) var(--type_icon_Bug) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Bug"]) {
  --myType: var(--Bug);
}

.movemenu button.type-Ghost {
  background: var(--Ghost) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Ghost small.type {
  background: var(--Ghost) var(--type_icon_Ghost) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Ghost"]) {
  --myType: var(--Ghost);
}

.movemenu button.type-Fire {
  background: var(--Fire) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Fire small.type {
  background: var(--Fire) var(--type_icon_Fire) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Fire"]) {
  --myType: var(--Fire);
}

.movemenu button.type-Dragon {
  background: var(--Dragon) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Dragon small.type {
  background: var(--Dragon) var(--type_icon_Dragon) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Dragon"]) {
  --myType: var(--Dragon);
}

.movemenu button.type-Fairy {
  background: var(--Fairy) !important;
  color: white;
  text-shadow: none;
}

.movemenu button.type-Fairy small.type {
  background: var(--Fairy) var(--type_icon_Fairy) no-repeat scroll center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

.megaevo:has(img[alt="Fairy"]) {
  --myType: var(--Fairy);
}

/******************
* Move Types ~end *
******************/

/******************
* Chat Log ~start *
********************/

.spacer.battle-history {
  border-top: 2px solid rgba(171, 183, 183, 0.2);
}

.battle-history {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
  padding-top: 2px;
}

h2.battle-history {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  /* Actually had to be changed here */
  border-bottom: none;
  padding: 10px;
  margin-top: -7px;
  margin-bottom: -8px;
}

h2.battle-history + .chat {
  margin-top: 15px;
}

.battle-history + h2.battle-history {
  border: 0px;
}

h2.battle-history + .spacer.battle-history {
  border: 0px;
}

.battle-history + .battle-history small::before {
  content: "⇾ ";
  font-weight: bold;
}

.spacer.battle-history + .battle-history small::before {
  content: "☀ ";
  font-weight: bold;
  color: #5264bd;
}

.spacer.battle-history + .battle-history small {
  font-weight: bold;
  color: #5264bd;
}

.spacer.battle-history + h2.battle-history::before {
  content: "⇌ ";
  opacity: 0.2;
}

.chat.message-error {
  color: #bd5252;
}

.chat.message-error:nth-child(odd) {
  font-weight: bold;
}

.chat.message-error::before {
  content: "⧗  ";
  color: #bd5252;
}

abbr[title] {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

abbr[title]:hover {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border: 2px solid;
  text-decoration: none;
}

abbr[title]:hover::before {
  font-weight: bold;
  content: "▸";
  color: #000;
}

abbr[title]:hover::after {
  font-weight: bold;
  content: "◂";
  color: #000;
}

.chat {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
}

.battle-history small {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
}

.battle-log {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
  border: none;
}

.userlist {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
  border: none;
}

.battle-log-add {
  font-family: "Ubuntu", Trebuchet MS, Verdana;
  letter-spacing: 0.3px;
  border: none;
}
  
  
/*********************
* Teambuilder ~start *
**********************/
  .teamchart {
      display: grid;
      grid-template-areas:
          "menu menu"
          "format format"
          "pkmn1 pkmn4"
          "pkmn2 pkmn5"
          "pkmn3 pkmn6";
      grid-auto-flow: column;
  }
  ol.teamchart>li:not([value]),
  ol.teamchart>label,
  ol.teamchart>br {
      grid-area: menu;
  }
  ol.teamchart>li.format-select{
      grid-area: format;   
  }
  .teamchart>li[value] {
      place-self: center;
  }
  .teamchart li[value='0'] {
      grid-area: pkmn1;
  }
  .teamchart li[value='1'] {
      grid-area: pkmn2;
  }
  .teamchart li[value='2'] {
      grid-area: pkmn3;
  }
  .teamchart li[value='3'] {
      grid-area: pkmn4;
  }
  .teamchart li[value='4'] {
      grid-area: pkmn5;
  }
  .teamchart li[value='5'] {
      grid-area: pkmn6;
  }
  .teamchart:not(:has(li[value='2'])) {
      display: block;
  }
  .teamchart:not(li[value='2']) + .teambuilder-results,
  .teamchart:not(li[value='2']) + .teambuilder-results + .teambuilder-pokemon-import {
      top: 244px !important;
  }
  /* Pokemon sprite and selector Input */
  .teamchart li[value] .setchart-nickname {
      display: none;
  }
  .teamchart li[value] .setcell-pokemon {
      position: absolute;
      top: var(--input_name_details);
      left: 8px;
  }
  .teamchart li[value] .setcell-pokemon>label {
      display: none;
  }
  .teamchart li[value] .setcell-pokemon>input {
      width: 166px;
      border-radius: 20px 20px 0 0;
      padding: 0 0 0 12px;
      border-top: 1px solid #999;
      border-left: 1px solid #999;
      border-right: 1px solid #999;
  }
  .teamchart li[value] {
      --input_name_details: -20px;
      display: flex;
      flex-direction: row-reverse;
      background: transparent !important;
      width: 526px;
      height: 164px;
      margin: 16px 0 24px 8px !important;
      padding: 0 !important;
  }
  .teamchart li[value] button,
  .teamchart li[value] input {
      box-shadow: none;
      border: 1px solid #C4D0DB;
      border-radius: 20px;
  }
  .teamchart li[value] .setchart {
      padding: 0 !important;
      margin: 0 !important;
      background-position: 4px 12px !important;
      background-size: 150px 150px;
      height: 100%;
  }
  /* Pokemon item icon */
  .teamchart li[value] span.itemicon {
      position: absolute;
      top: 104px;
  }
  /* pokemon types */
  .setcell-typeicons > img[src*= "types"] {
      opacity: 1 !important;
      width: auto;
      height: 14px;
  }
  .teamchart li[value] .setcell-typeicons {
      position: absolute;
      display: flex;
      flex-direction: row;
      gap: 2pt;
      left: 8px;
      bottom: 8px;
  }
  /* Pokemon details input */
  .teamchart li[value] .setcell-details{
      position: absolute;
      left: 8px;
      top: calc(20px + var(--input_name_details));
  }
  .teamchart li[value] .setcell-details>label{
      display: none;
  }
  .teamchart li[value] .setcell-details>button{
      width: 180px;
      border-top: 0;
      border-radius: 0 0 20px 20px !important;
      z-index: 0;
  }
  .teamchart li[value] .setcell-details>button:focus,
  .teamchart li[value] .setcell-details>button:active {
      margin: 1px !important;
  }
  /* Pokemon item and ability input */
  .teamchart li[value] .setrow:has(.setcell-item,.setcell-ability) {
      position: absolute;
      left: 208px;
      bottom: 8px;
      display: flex;
      flex-direction: column;
      max-width: 124px;
  }
  .teamchart li[value] .setrow:has(.setcell-item,.setcell-ability) .setcell {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .teamchart li[value] .setrow:has(.setcell-item,.setcell-ability) input {
      padding: 1px 0 1px 12px;
      flex: 1 1 auto !important;
      width: auto;
  }
  /* Pokemon moves */
  .teamchart li[value] .setcol-moves {
      --move-width: 250px;
      position: absolute;
      top: 4px;
      left: 208px;
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: var(--move-width);
      height: 62px;
  }
  .teamchart li[value] .setcol-moves label {
      display: none;
  }
  .teamchart li[value] .setcol-moves input {
      padding: 1px 0 1px 12px;
      width: calc(var(--move-width) / 2 - 1px);
      height: 24px;
      margin: 0 !important;
  }
      .teamchart li[value] .setcol-moves>.setcell:nth-child(1){
      align-self: end;
      justify-self: end;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(1) input {
      border-radius: 20px 0 0 0;
      border-bottom: 0;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(2){
      align-self: end;
      justify-self: start;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(2) input {
      border-radius: 0 20px 0 0;
      border-bottom: 0;
      border-left: 0;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(3){
      align-self: start;
      justify-self: end;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(3) input {
      border-radius: 0 0 0 20px;
      align-self: start;
      justify-self: end;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(4){
      align-self: start;
      justify-self: start;
  }
  .teamchart li[value] .setcol-moves>.setcell:nth-child(4) input {
      border-radius: 0 0 20px 0;
      border-left: 0;
  }
  /* Pokemon stats */
  .teamchart li[value] .setcol-stats {
      position: absolute;
      left: 350px;
      top: 74px;
  }
  .teamchart li[value] .setcol-stats .setrow {
      height: 100%;
  }
  .teamchart li[value] .setcol-stats>.setrow>label {
      display: none;
  }
  .teamchart li[value] .setcol-stats>.setrow>button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1pt;
      border-radius: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none;
      background-color: transparent;
      height: auto;
  }
  .teamchart li[value] .setcol-stats>.setrow>button>.statrow-head {
      display: none !important;
  }
  span.statgraph span {
      margin: 0 !important;
      padding: 0 !important;
      border-radius: 0 5px 5px 0;
  }
  .teamchart li[value] .setcol-stats>.setrow>button span.statrow {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      height: 9.3pt;
      width: 100%;
  }
  .teamchart li[value] .setcol-stats>.setrow>button span.statrow>label,
  .teamchart li[value] .setcol-stats>.setrow>button span.statrow em {
      height: auto !important;
  }

  /* Buttons for copy/import/move/delete */
  .teamchart li[value] .setmenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: unset;
      width: auto;
      z-index: 10;
      padding-bottom: 40px;
  }
  .teamchart li[value] .setmenu button {
      flex: 1 1 auto;
      font-size: 0px;
      border: none;
  }
  .teamchart li[value] .setmenu button i {
      font-size: 10pt;
  }
  
  /* Pokémon types with typeName and Icon */
  .setcell-typeicons > img[src*= "types/Normal"] {
      content: var(--type_name_Normal) !important;
  }

  .setcell-typeicons > img[src*= "types/Fire"] {
      content: var(--type_name_Fire) !important;
  }

  .setcell-typeicons > img[src*= "types/Water"] {
      content: var(--type_name_Water) !important;
  }

  .setcell-typeicons > img[src*= "types/Electric"] {
      content: var(--type_name_Electric) !important;
  }

  .setcell-typeicons > img[src*= "types/Grass"] {
      content: var(--type_name_Grass) !important;
  }

  .setcell-typeicons > img[src*= "types/Ice"] {
      content: var(--type_name_Ice) !important;
  }

  .setcell-typeicons > img[src*= "types/Fighting"] {
      content: var(--type_name_Fighting) !important;
  }

  .setcell-typeicons > img[src*= "types/Poison"] {
      content: var(--type_name_Poison) !important;
  }

  .setcell-typeicons > img[src*= "types/Ground"] {
      content: var(--type_name_Ground) !important;
  }

  .setcell-typeicons > img[src*= "types/Flying"] {
      content: var(--type_name_Flying) !important;
  }

  .setcell-typeicons > img[src*= "types/Psychic"] {
      content: var(--type_name_Psychic) !important;
  }

  .setcell-typeicons > img[src*= "types/Bug"] {
      content: var(--type_name_Bug) !important;
  }

  .setcell-typeicons > img[src*= "types/Rock"] {
      content: var(--type_name_Rock) !important;
  }

  .setcell-typeicons > img[src*= "types/Ghost"] {
      content: var(--type_name_Ghost) !important;
  }

  .setcell-typeicons > img[src*= "types/Dragon"] {
      content: var(--type_name_Dragon) !important;
  }

  .setcell-typeicons > img[src*= "types/Dark"] {
      content: var(--type_name_Dark) !important;
  }

  .setcell-typeicons > img[src*= "types/Steel"] {
      content: var(--type_name_Steel) !important;
  }

  .setcell-typeicons > img[src*= "types/Fairy"] {
      content: var(--type_name_Fairy) !important;
  }
  
  .setcell-typeicons > img[src*= "types/Stellar"] {
      content: var(--type_name_Stellar) !important;
  }
  
/*********************
* Teambuilder ~end *
**********************/
